@charset "utf-8";
body{
	background-image: url(../slike/bg_index.jpg);
	font-family: arial;
	background-attachment: fixed;
}
.meni{
	text-align:center;
	border-bottom: 1px solid white;
	width:860px;
	padding: 0px 20px 0px 20px;
	height: 64px;
	margin:30px 500px;
}

.meni ul {
	padding: 0;
	list-style: none;
	
}
.meni ul li {
	display:inline-block;
	font-size: 25px;
	font-weight: bold;
	margin-right:10px;
}
.meni ul li a {
	text-decoration: none;
	color: skyblue;
	border: 1px solid skyblue;
	border-bottom: 1px solid skyblue;
	padding: 20px 20px 20px 20px;
		
}
#Pocetna{
	font-family: arial;
	text-align: center;
	background-color:black;
	opacity:0.9;
	width:50%;
	margin-left: auto;
	margin-right: auto;
}
#Pocetna h1{
	font-size: 25px;
	color: white;
}
#Pocetna p{
	font-size: 19px;
	color: white;
}
#Pocetna h4 {
	font-size: 22px;
	color: white;
}
.slika1{
	border: 2px white solid;
}
#sadrzaji{
	font-family: arial;
	text-align: center;
	background-color:black;
	opacity:0.9;
	width:50%;
	margin-left: auto;
	margin-right: auto;
}
#sadrzaji p{
	font-size: 19px;
	color:white;
}
.slika2{
	position: sticky;
	width: 20%;
	border: 2px white medium;
	
}
.slika3{
	position: sticky;
	height: 40%;
	border: 2px white medium;
}
.slika4{
	position: sticky;
	width: 20%;
	border: 2px white medium;
}
.slikaSauna{
	position: sticky;
	height: 40%;
	border: 2px white medium;
}
.slikaTeretana{
	margin-top: 10px;
	position: sticky;
	width:auto;
	border: 2px white medium;
}
.slikaDno{
	margin-top: 10px;
	position: sticky;
	width:auto;
	border: 2px white medium;
}
table{
	text-align:center;
	background:black;
	font-family:arial;
	width:60%;
	height:60%;
}
table th {
	font-size:25px;
	color:white;
	background-color: black;
	padding:20px;
}
table td{
	color:white;
	padding:25px;
	
}
table td img {
	margin-top:5px;
	margin-left:5px;
	width:300px;
	height:190px:

}
.formular{
	text-align:center;
	margin:200px 400px;
	background-color:black;
	opacity:0.8;
	width:1100px;
	height:500px;
	color:white;
}
#registracija{
	float:left;
	height:50%;
	padding:50px 0px;
	float:left;
	margin-left:80px;
}
#dugme{
	padding:10px;
	border-radius:5px;
	width:250px;
	outline:0px;
}
#broj{
	padding:10px;
	border-radius:5px;
	width:250px;
	outline:0px;
}
#sub{
	color:black;
	font-size:18px;
	padding:10px;
	border-radius:5px;
	width:100px;
	outline:0px;
}
.h4{
	font-size:22px;
}
#paragraf{
	padding-top:50px;
}
footer{
	width:100%;
	background-color:black;
	padding:20px 0px;
	opacity:0.8;
	margin-top:2px;
	margin-bottom:0px;
}
footer a{
	color:skyblue;
	font-size:40px;
	padding-left:50px;
	margin-left:400px;
	text-decoration: none;
}